@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
html, body {
    height: 90vh;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border: 4px solid black;
    border-radius: 10px;
    overflow: auto;
    padding: 0px;
    margin-top: 4%;
    background-color: grey;
}

.button {
    width: 55px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn-eql {
    background-color: green;
}

.btn-c {
    background-color: red;
}

.btn-opt{
    background-color: orange;
}


.btn-num{
    background-color: aqua;
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 20px;
    margin: 0;
    padding: 20px 2px;
    border: 2px solid black;
    border-radius: 5px;

}